*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}  

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#b69974;
}  

.wrapper { 
    height: 100%;
	padding: 50px 40px 0 40px; 
}

.main-card {
    margin: 0 auto;
	max-width: 825px;
    height: auto;
    background-color: #fdfdfd;
    border: 1px solid #818181; 
    border-radius: 3px; 
    -webkit-box-shadow: 5px 5px 16px 5px #000000; 
    box-shadow: 5px 5px 16px 5px #000000;
} 

h1 { 
    font-size: 29px;
    font-weight: bold 
}   

.text {
    font-size: 14px;
}
 
#how-to-container {
    margin-left: 25px;
}

#how-to {
    color: #ad1457;
}  

#input-main-container {
    margin-left: 25px;
    margin-right: 25px;
}
 
#input-header { 
    background-color: #ad1457;
    padding: 5px;
    font-size: 11px;
    color: #fff;
}  

#movie-view {
    border-bottom: 0.5px solid lightgray
}

#find-movies {
    margin: 10px 0 20px -15px; 
} 

#find { 
    padding-top: 16px; 
    padding-bottom: 1px;
    padding-left: 0px;
} 

#first-date-text {
    margin: 15px;
    padding: 25px;
} 

#on-date-img {
    display: none;
    height:150px;
    width: 160px;
    padding: 5px;
} 

#list {
    margin-left: 30px;
} 

#forward {
    font-size: small;
    float:right;
}
    
#footer { 
    background-color: #ad1457;
}

@media (min-width: 768px) { 

    h1 {
        font-size: 55px;
        font-weight: bold;
    }  

    .text {
        font-size: 20px;
    } 

    #input-header {
        font-size: 15px;
    }  

    #movie-view { 
        border-bottom: none;
    } 

    #on-date-img { 
        display: block;
        float:right;
        height:250px;
        width: 260px;
        padding: 10px;
    } 
}